html {
    padding: 10px;
    font-family: Verdana, sans-serif;
}

.login-buttons-dropdown-align-right {
    float: right;
}

.loadingclock {
  position: relative;
  width: 24px;
  height: 24px;
  border: 2px solid #ccc;
  border-radius: 100%;
}
.loadingclock:before {
  display: block;
  position: absolute;
  left: 11px;
  top: 2px;
  width: 2px;
  height: 10px;
  background-color: #ccc;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
  content: "";
  -webkit-transform-origin: 1px 10px;
  -ms-transform-origin: 1px 10px;
  transform-origin: 1px 10px;
}
.loadingclock:after {
  display: block;
  position: absolute;
  left: 11px;
  top: 3px;
  width: 2px;
  height: 9px;
  background-color: #ccc;
  -webkit-animation: spin 18s linear infinite;
  animation: spin 18s linear infinite;
  content: "";
  -webkit-transform-origin: 1px 9px;
  -ms-transform-origin: 1px 9px;
  transform-origin: 1px 9px;
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}